*{
	padding: 0px;
	margin: 0px;
}

body{
	background-color: rgb(169,192,174);
}

a{
	text-decoration: none;
	color: rgb(230,221,240);
}

div{
	width: 100%;
	margin-top: 50px;
}

div ul{
	list-style: none;
}

div ul li{
	text-align: center;
	padding: 10px;
}
